Source: pidgin-paranoia
Section: net
Priority: extra
Maintainer: Christian Wäckerlin <christian@waeckerlin.com>
Build-Depends: debhelper (>= 5), autotools-dev, libpurple-dev (>= 2.2.0), libglib2.0-dev (>= 2.12), build-essential
Standards-Version: 3.7.3
Homepage: http://pidgin-paranoia.sourceforge.net

Package: pidgin-paranoia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpurple0 (>= 2.2.0)
Recommends: pidgin | finch
Enhances: pidgin | finch
Description: pidgin plugin that provides encryption using one-time pads
 Provides information-theoretically secure encryped conversations in pidgin
 using one-time-pads. 
 A key file with random content is created by Alice. Alice also creates the byte 
 wise reverse version of its key file and transferes it in a secure way to Bob. 
 The message is encrypted and decrypted by XOR-ing it with the random bytes 
 taken from the key file. The encrypted message is encoded in Base64 and 
 transmitted together with the starting point of the bytes used in the key file.
 Using every byte in the keyfile only once leaves Eve no chance as long as you 
 can keep the keyfiles secure. 
 There are also caveats: You need a secure way to transmit the keyfile in the 
 beginning, i.e hands-to-hands, and the keyfile is consumed with every message 
 you send. But i.e. 5MB of text is quite a lot...
